<div class="container">
  <table id="table-main" class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">Local</th>
        <th scope="col" class="disp">
          <i class="fa fa-laptop" title="Disponível para trabalhar/estudar"></i>
        </th>
        <th scope="col" class="calls">
          <i class="fa fa-phone" title="Disponível para reuniões/chamadas"></i>
        </th>
        <th scope="col" class="mais-info">
          <i class="fa fa-info-circle" title="Mais Informação"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations; index as i" scope="row">
        <td>{{ location.name }}</td>
        <td class="disp">
          <i class="fa fa-check-circle text-success" *ngIf="location.disp"></i>
          <i class="fa fa-times-circle text-danger" *ngIf="!location.disp"></i>
        </td>
        <td class="calls">
          <i class="fa fa-check-circle text-success" *ngIf="location.calls"></i>
          <i class="fa fa-times-circle text-danger" *ngIf="!location.calls"></i>
        </td>
        <td class="mais-info">
          <i class="fa fa-plus-circle text-primary" (click)="infoOpen(i)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" (click)="suggestBtnClick()">
    Sugerir
  </button>

  <div id="info-tab" class="card" *ngIf="infoClicked">
    <div class="card-header">
      <b>{{ locations[clickedIndex].name }}</b>
      <i class="fa fa-times text-danger" (click)="infoClose()"></i>
    </div>
    <div class="card-body">
      <p id="p-schedule"><b>-- Hórario --</b></p>
      <p *ngIf="!locations[clickedIndex].schedule">Horário indisponível</p>
      <table
        id="info-table"
        class="table table-bordered"
        *ngIf="locations[clickedIndex].schedule"
      >
        <thead class="table-dark">
          <tr>
            <th scope="col">segunda</th>
            <th scope="col">terça</th>
            <th scope="col">quarta</th>
            <th scope="col">quinta</th>
            <th scope="col">sexta</th>
            <th scope="col">sábado</th>
            <th scope="col">domingo</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td>
              {{ locations[clickedIndex].schedule.mon[0] }}
              <hr *ngIf="locations[clickedIndex].schedule.mon[1]" />
              {{ locations[clickedIndex].schedule.mon[1] }}
            </td>
            <td>
              {{ locations[clickedIndex].schedule.tue[0] }}
              <hr *ngIf="locations[clickedIndex].schedule.tue[1]" />
              {{ locations[clickedIndex].schedule.tue[1] }}
            </td>
            <td>
              {{ locations[clickedIndex].schedule.wed[0] }}
              <hr *ngIf="locations[clickedIndex].schedule.wed[1]" />
              {{ locations[clickedIndex].schedule.wed[1] }}
            </td>
            <td>
              {{ locations[clickedIndex].schedule.thu[0] }}
              <hr *ngIf="locations[clickedIndex].schedule.thu[1]" />
              {{ locations[clickedIndex].schedule.thu[1] }}
            </td>
            <td>
              {{ locations[clickedIndex].schedule.fri[0] }}
              <hr *ngIf="locations[clickedIndex].schedule.fri[1]" />
              {{ locations[clickedIndex].schedule.fri[1] }}
            </td>
            <td>
              {{ locations[clickedIndex].schedule.sat[0] }}
              <hr *ngIf="locations[clickedIndex].schedule.sat[1]" />
              {{ locations[clickedIndex].schedule.sat[1] }}
            </td>
            <td>
              {{ locations[clickedIndex].schedule.sun[0] }}
              <hr *ngIf="locations[clickedIndex].schedule.sun[1]" />
              {{ locations[clickedIndex].schedule.sun[1] }}
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <b>Site: </b>
        <a [href]="locations[clickedIndex].site" target="_blank">
          {{ locations[clickedIndex].site }}
        </a>
      </p>
      <p>
        <b>Contactos: </b
        >{{ locations[clickedIndex].contacts | phoneNumberPipe }}
      </p>
      <p><b>Morada: </b>{{ locations[clickedIndex].address }}</p>
      <p *ngIf="locations[clickedIndex].notes.length"><b>Notas: </b></p>
      <ul *ngFor="let note of locations[clickedIndex].notes">
        <li>{{ note | titlecase }}</li>
      </ul>
    </div>
  </div>

  <div id="submit-tab" class="card" *ngIf="suggestClicked">
    <div class="card-header">
      <b>Adicionar Novo Local</b>
      <i class="fa fa-times text-danger" (click)="suggestClose()"></i>
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="name-input" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name-input" />
      </div>

      <div class="mb-3">
        <label for="address-input" class="form-label">Morada</label>
        <input type="text" class="form-control" id="address-input" />
      </div>

      <div class="row mb-4">
        <div class="col-4">
          <label for="contacts-input" class="form-label">
            Contacto <small>(opcional)</small>
          </label>
          <input type="text" class="form-control" id="contacts-input" />
        </div>
        <div class="col-8">
          <label for="site-input" class="form-label">
            Site <small>(opcional)</small>
          </label>
          <input type="text" class="form-control" id="site-input" />
        </div>
      </div>

      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="disp-input"
        />
        <label class="form-check-label" for="disp-input">
          Disponível para trabalhar/estudar
        </label>
      </div>
      <div class="form-check mb-5">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="calls-input"
        />
        <label class="form-check-label" for="calls-input">
          Disponível para reuniões/chamadas
        </label>
      </div>

      <div class="schedule-suggest mb-5">
        <p>Horário <small>(opcional)</small></p>
        <div class="row mb-3">
          <div class="col-3 mb-2">
            <label for="sc-mon-input" class="form-label">
              <small>Segunda</small>
            </label>
            <div class="input-group">
              <input
                type="text"
                id="sc-mon-input"
                class="form-control"
                placeholder="Abre"
              />
              <span class="input-group-text">--&gt;</span>
              <input type="text" class="form-control" placeholder="Encerra" />
            </div>
          </div>

          <div class="col-3">
            <label for="sc-tue-input" class="form-label">
              <small>Terça</small>
            </label>
            <div class="input-group">
              <input
                type="text"
                id="sc-tue-input"
                class="form-control"
                placeholder="Abre"
              />
              <span class="input-group-text">--&gt;</span>
              <input type="text" class="form-control" placeholder="Encerra" />
            </div>
          </div>

          <div class="col-3">
            <label for="sc-wed-input" class="form-label">
              <small>Quarta</small>
            </label>
            <div class="input-group">
              <input
                type="text"
                id="sc-wed-input"
                class="form-control"
                placeholder="Abre"
              />
              <span class="input-group-text">--&gt;</span>
              <input type="text" class="form-control" placeholder="Encerra" />
            </div>
          </div>

          <div class="col-3">
            <label for="sc-thu-input" class="form-label">
              <small>Quinta</small>
            </label>
            <div class="input-group">
              <input
                type="text"
                id="sc-thu-input"
                class="form-control"
                placeholder="Abre"
              />
              <span class="input-group-text">--&gt;</span>
              <input type="text" class="form-control" placeholder="Encerra" />
            </div>
          </div>

          <div class="col-3">
            <label for="sc-fri-input" class="form-label">
              <small>Sexta</small>
            </label>
            <div class="input-group">
              <input
                type="text"
                id="sc-fri-input"
                class="form-control"
                placeholder="Abre"
              />
              <span class="input-group-text">--&gt;</span>
              <input type="text" class="form-control" placeholder="Encerra" />
            </div>
          </div>

          <div class="col-3">
            <label for="sc-sat-input" class="form-label">
              <small>Sábado</small>
            </label>
            <div class="input-group">
              <input
                type="text"
                id="sc-sat-input"
                class="form-control"
                placeholder="Abre"
              />
              <span class="input-group-text">--&gt;</span>
              <input type="text" class="form-control" placeholder="Encerra" />
            </div>
          </div>

          <div class="col-3">
            <label for="sc-sun-input" class="form-label">
              <small>Domingo</small>
            </label>
            <div class="input-group">
              <input
                type="text"
                id="sc-sun-input"
                class="form-control"
                placeholder="Abre"
              />
              <span class="input-group-text">--&gt;</span>
              <input type="text" class="form-control" placeholder="Encerra" />
            </div>
          </div>
        </div>

        <div class="form-check mb-4">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="sc-lunch-checker"
          />
          <label class="form-check-label" for="sc-lunch-checker">
            Fecha para almoço
          </label>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-3">
          <label for="note-input" class="form-label">
            Notas <small>(opcional)</small>
          </label>
          <textarea class="form-control" id="note-input" rows="3"></textarea>
        </div>
        <button id="plus-button">+</button>
      </div>

      <button type="button" class="btn btn-success">Submeter</button>
    </div>
  </div>
</div>
