.container {
  position: relative;
}

#table-main {
  margin-top: 30px;
}

.fa-plus-circle {
  /* color: #0d6efd; */
  cursor: pointer;
}

.fa-times {
  float: right;
  cursor: pointer;
}

.fa-plus-circle {
  font-size: larger;
}

.disp,
.calls,
.mais-info {
  max-width: 25px;
  text-align: center;
  /* font-size: larger; */
}

#info-tab {
  position: absolute;
  top: -25px;
  width: 1000px;
  left: 6%;
}

#info-table {
  vertical-align: middle;
}

#info-table > thead > tr > th,
#info-table > tbody > tr > td {
  max-width: 75px;
  text-align: center;
}
