.container {
  position: relative;
}

#table-main {
  margin-top: 30px;
}

/* #table-main > thead > tr > th {
  background-color: #f5a209;
  color: white;
} */

#table-main > tbody > tr > td {
  background-color: white;
}

.fa-plus-circle {
  /* color: #0d6efd; */
  cursor: pointer;
  font-size: larger;
}

.fa-check-circle,
.fa-times-circle,
.fa-info-circle,
.fa-phone,
.fa-laptop {
  font-size: larger;
}

.fa-times {
  float: right;
  cursor: pointer;
}

.disp,
.calls,
.mais-info {
  max-width: 25px;
  text-align: center;
  /* font-size: larger; */
}

#info-tab {
  position: absolute;
  top: -35px;
  width: 1000px;
  left: 6%;
}

#info-table {
  vertical-align: middle;
  margin-bottom: 55px;
  /* line-height: 20px; */
}

#info-table > thead > tr > th,
#info-table > tbody > tr > td {
  max-width: 75px;
  text-align: center;
}

/* .card-header {
  color: #f5a209;
} */

#p-schedule {
  text-align: center;
}
