.container {
  position: relative;
}

#table-main {
  margin-top: 30px;
}

/* #table-main > thead > tr > th {
  background-color: #f5a209;
  color: white;
} */

#table-main > tbody > tr > td {
  background-color: white;
}

.fa-plus-circle {
  /* color: #0d6efd; */
  cursor: pointer;
  font-size: larger;
}

.fa-check-circle,
.fa-times-circle,
.fa-info-circle,
.fa-phone,
.fa-laptop {
  font-size: larger;
}

.fa-times {
  float: right;
  cursor: pointer;
}

.disp,
.calls,
.mais-info {
  max-width: 25px;
  text-align: center;
  /* font-size: larger; */
}

#info-tab {
  position: absolute;
  top: -45px;
  width: 1000px;
  left: 6%;
}

#info-table {
  vertical-align: middle;
  margin-bottom: 55px;
  /* line-height: 20px; */
}

#info-table > thead > tr > th,
#info-table > tbody > tr > td {
  /* min-width: 75px; */
  text-align: center;
}

/* .card-header {
  color: #f5a209;
} */

#p-schedule {
  text-align: center;
}

#submit-tab {
  position: absolute;
  top: -95px;
  width: 1000px;
  left: 6%;
}

#plus-button,
#minus-button {
  height: 23px;
  width: 22px;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  font-weight: bolder;
  line-height: 100%;
  display: inline-flex;
  justify-content: center;
}

#plus-button {
  background-color: #1e945e;
  margin: 80px 0 0 0;
}

#minus-button {
  background-color: #b32b2b;
  margin: 84px 0 0 -24px;
}
